<h1>CONHEÇA TUDO SOBRE O UNIVERSO MARVEL</h1>

<div class="row">
  <div class="col text-center">
    <!-- Adicionada a classe img-banner -->
    <img class="img-fluid img-banner" src="img/mcu.jpg">
  </div>
</div>

<!-- Margem reduzida para my-2 -->
<div class="row my-2">
  <div class="col text-center">
    <h2 class="fw-bold text-uppercase fs-4">Maiores Bilheterias</h2>
  </div>
</div>

<!-- Espaçamento dos cards reduzido para g-2 -->
<div class="row row-cols-1 row-cols-md-3 g-2">
  <div class="col">
    <div class="card">
      <!-- Adicionada a classe img-card -->
      <img src="img/ultimato.jpg" class="card-img-top img-card">
      <div class="card-body p-2">
        <h5 class="card-title fs-6">Vingadores: Ultimato (2019)</h5>
        <p class="card-text small mb-0">US$ 2,79 bilhões</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <img src="img/guerra-infinita.jpg" class="card-img-top img-card">
      <div class="card-body p-2">
        <h5 class="card-title fs-6">Vingadores: Guerra Infinita (2018)</h5>
        <p class="card-text small mb-0">US$ 2,05 bilhões</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <img src="img/sem-volta.jpg" class="card-img-top img-card">
      <div class="card-body p-2">
        <h5 class="card-title fs-6">Homem-Aranha: Sem Volta para Casa (2021)</h5>
        <p class="card-text small mb-0">US$ 1,92 bilhão</p>
      </div>
    </div>
  </div>
</div>
